* {
  font-family: Monaco;
}
body {
  background-image: url(bg.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  font-size: 200px;
  font-weight: bold;
  color: #fdd835;
  text-align: center;
  border: 5px solid silver;
  padding: auto;
  border-radius: 5px;
  background: silver;
}
.userinfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
}
form {
  font-size: 30px;
  text-align: center;
  color: grey;
}
.button {
  font-size: 30px;
  background-color: silver;
  color: white;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  padding: 10px;
}
.button:hover {
  background-color: #fdd835;
}
.button:active {
  background-color: #b8babd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1.title
{
  font-size: 200px;
  font-weight: bold;
  color: #fdd835;
  text-align: center;
}


.item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid whitesmoke;
border-radius: 5px;
padding: 20px;
margin: 2px;
font-size: 30px;
font-weight: bold;
text-align: center;
color: #ffb404;
font-weight: solid;
background: #083358;
background: -moz-linear-gradient(-45deg, #083358 0%, #2692DB 50%, #1A6598 100%);
background: -webkit-linear-gradient(-45deg, #083358 0%, #2692DB 50%, #1A6598 100%);
background: linear-gradient(135deg, #083358 0%, #2692DB 50%, #1A6598 100%);
}
.item:hover
{
  background: ghostwhite;
}
.table {
  display: grid;
  grid-template-columns:  15% 15% 15% 15% 15% 15%;
  padding: 10px;
  justify-content: center;
  align-content: center;
}

.welcome
{
  color: whitesmoke;
  text-align: center;
}
.question
{
  font-weight: bold;
  font-style: italic;
  color: whitesmoke;
  font-size: 30px;
}
.detail
{
  color: #ffb404;
  font-size: 50px;
  text-align: center;
}