* {
  font-family: Monaco;
}
body {
  background-image: url(bg.jpg);
}
.intro {
  font-size: 200px;
  font-weight: bold;
  color: #fdd835;
  text-align: center;
  border: 5px solid silver;
  padding: auto;
  border-radius: 5px;
  background: silver;
}
.userinfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
}
form {
  font-size: 30px;
  text-align: center;
  color: grey;
}
.button {
  font-size: 30px;
  background-color: silver;
  color: white;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  padding: 10px;
}
.button:hover {
  background-color: #fdd835;
}

.button:active {
  background-color: #b8babd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
